
#logo{
		position:relative;
		font-size: 60pt;
		color: white;
		background-color: green;
		border-radius: 300px;
		width: 350px;
		text-align: center;
		top: 300px;
		left:300px;
	}

	.btn{
		background-color: transparent;
		text-align: center;
		height: 50px;
		position: relative;
		left: 45%;
		bottom: 10%;

	}

	.texto-botao{

		font-size: 20pt;
		color: #FFEBCD;
		font-weight: 500;
	}

	.btn-group{
		position: relative;
		left: 44%;
		bottom: 10%;
	}



	#plano_de_fundo{
		position: relative;
		width: 1730px;
		height: 1080px;
		background-repeat: no-repeat;
		background-size:100% ;
		background-image: url("../plano_de_fundo.png") ;	
	}

	#foto1{
		margin-left: 5%;
		width: 600px;
		height: 650px;
		position: relative;
		
		

	}

	#texto1{

		position: relative;
		text-align: center;
		bottom: 650px;
		line-height: 25px;
		word-spacing: 5px;



	}

	.corpo1{margin-left: 50%;
		width: 400px;

		
  		text-align: justify;
  		letter-spacing: 3px;
  		word-spacing: 1px;



	}

	#foto2{
		position: relative;
		top: 180px;
		width: 1730px;
		height: 1080px;
	}

	.cor_do_canto{
		
		
		width: 100px;
		height: 600px;
		background-color: #FFEBCD;
		
	}

	#cor_da_direita{

		position: relative;
		left: 1630px;
		
	}

	#cor_da_esquerda{
		position: relative;
		top: 300px;


	}

	#foto3{position: relative;
		bottom: 300px;
		width: 1400px;
		height: 600px;
	}

	#seta1{
		position: relative;
		left: -700px;
		top: 600px;
		border-radius: 30px;
		width: 40px;
		opacity: 0;
		
	}

	#seta2{
		position: relative;
		top: 600px;
		left: 700px;
		border-radius: 30px;
		width: 40px;

	}
	.numero_de_fotos{
		width: 60px;
		height: 20px;
		background-color:blue ;
		

	}

	#marcador2{
		position: relative;
		left: 930px;
		top: 2340px;
		opacity: 0.3;
		border-radius: 30px;

	}
	#marcador1{
		position: relative;
		left: 850px;
		top: 2320px;
		opacity: 1;
		border-radius: 30px;

	}

	#subtitulo2{


		position: relative;
		right: 300px;
		bottom: 200px;
	}
	#corpo2{

		position: relative;
		bottom: 200px;
	}
	#foto4{
		width: 1730px;
		height: 1000px;


	}

	#subtitulo3{position: relative;
		bottom: 100px;
		right: 700px;


	}

	#corpo3{position: relative;
		right: 700px;
		bottom: 100px;


	}
	.mapa{

	background-color: brown;
		border-radius: 100px;
		color: brown;
		height: 3px;
		position: relative;
		opacity: 0.8;
	}

	#desenho_mapa{
		width: 1430px;
		top: 398px;
		right: 369px;
		
		transform: rotate(-60deg);
	}

#desenho_mapa1{
	width: 1027px;
	left: 703px;
	bottom: 240px;
}
#desenho_mapa2{
	width: 1730px;
	top: 240px;
}

#desenho_mapa3{
	width: 1080px;
	transform: rotate(-50deg);
	left: 600px;
	bottom: 193px;
}

#desenho_mapa4{
	width: 692px;
	left: 1037px;
	bottom: 90px;
}

.mapa_detalhes{
	
	position: relative;
	width: 0; 
  	height: 0; 
  	border-left: 15px solid transparent;
  	border-right: 15px solid transparent;
  	border-bottom: 15px solid brown;
  	opacity: 0.8
  	
}

.bolinha_mapa{
	position: relative;

	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: black;
	opacity: 0.3;
}

.texto_mapa{
	font-weight: 500;
	opacity: 0.3;
	position: relative;
	width: 200px;
	letter-spacing: 2px;

}

#texto_mapa1{
	bottom: 600px;
	left:1350px ;

}

#texto_mapa2{

	bottom: 645px;
	font-size: 30pt;
	transform: rotate(-50deg);
	left: 1260px;
}

#texto_mapa3{

	bottom: 650px;
	left: 1340px;
}
#texto_mapa4{
	bottom: 670px;
	left: 1180px;
	transform: rotate(-50deg);
}

#texto_mapa5{


	bottom: 620px;
	left: 1370px;
}
	
#texto_mapa6{

	bottom: 600px;
	left: 1200px;
}
#texto_mapa7{

	bottom: 500px;
	left: 1450px;
}

#texto_mapa8{
	bottom: 450px;
	left: 1300px;
}

#texto_mapa9{

	bottom: 390px;
	left: 1180px;
}

#texto_mapa10{
	bottom: 780px;
	left: 630px;
}

#texto_mapa11{

	bottom: 780px;
	left: 980px;
}
#texto_mapa12{
	bottom: 500px;
	left: 480px;

}

#texto_mapa13{

	bottom: 450px;
	left: 50px;
}

#texto_mapa14{

	bottom: 520px;
	
}

#texto_mapa15{

	bottom: 300px;
	right: 40px;
}

#texto_mapa16{

	transform: rotate(-60deg);
	bottom: 400px;
	left: 210px;
}

#texto_mapa17{

	bottom: 450px;
	left: 400px;
}
#texto_mapa18{

	bottom: 400px;
	left: 350px;
}

#texto_mapa19{

	bottom: 400px;
	left: 550px;
}

#texto_mapa20{
	bottom: 400px;
	left: 400px;
}

#texto_mapa21{

	bottom: 610px;
	left: 800px;
}
#texto_mapa22{
	bottom: 780px;
	left: 1000px;
}

#texto_mapa23{
	bottom: 750px;
	left: 1200px;
}
#texto_mapa24{
	bottom: 700px;
	left: 1100px;
}

#bolinha_mapa1{
	bottom: 1425px;
	left: 720px;
}
#bolinha_mapa2{
	bottom: 1380px;
	left: 1128px;
}
#bolinha_mapa3{
	bottom: 1590px;
	left: 1380px;
}
#bolinha_mapa4{
	bottom: 1435px;
	left: 1235px;
}
#bolinha_mapa5{
	bottom: 1105px;
	left: 480px;
}
#bolinha_mapa6{
	bottom: 1235px;
	left: 1320px;
}
#bolinha_mapa7{
	bottom: 1150px;
	left: 1210px;
}
#bolinha_mapa8{
	bottom: 830px;
	
}
#bolinha_mapa9{
	bottom: 915px;
	left: 430px;
	
}
#bolinha_mapa10{
	bottom: 840px;
	left: 370px;
	
}
#bolinha_mapa11{
	bottom: 745px;
	left: 440px;
	
}
#bolinha_mapa12{
	bottom: 830px;
	left: 570px;
	
}
#bolinha_mapa13{
	bottom: 950px;
	left: 810px;
	
}
#bolinha_mapa14{
	bottom: 1025px;
	left: 1230px;
	
}
#bolinha_mapa15{
	bottom: 945px;
	left: 1130px;
	
}
#mapa_detalhes1{
	bottom: 327px;
	left: 1212px;
	transform: rotate(130deg);

}
#mapa_detalhes2{
	bottom: 332px;
	left: 1180px;
	transform: rotate(-50deg);

}
#mapa_detalhes3{
	bottom: 154px;
	left: 1038px;
	

}
#mapa_detalhes4{
	top: 125px;
	left: 790px;
	

}

#mapa_detalhes5{
	top: 112px;
	left: 412px;
	transform: rotate(125deg);

}

#mapa_detalhes6{
	top: 108px;
	left: 389px;
	transform: rotate(-50deg);
}
	#video{
		position: relative;
		bottom: 400px;
		right: 100px;
		
	}

	#botao_play{position: relative;
		bottom: 300px;
		right: 500px;
	}

	#video_falso{
		background-color: grey;
		position: relative;
		left: 1580px;
		bottom: 1100px;
		height: 690px;
		width: 150px;
		opacity: 0.7;

	}

	#trocar_video1{
		position: relative;
		left: -250px;
		top: 300px;
		font-size: 20pt;
		color: #FFEBCD;
		font-weight: 500;
	}
	#trocar_video2{
		position: relative;
		left: -1550px;
		top: 250px;
		font-size: 20pt;
		color: #FFEBCD;
		font-weight: 500;
		opacity: 0;
	}

